@{
    ViewBag.Title = "選擇隊伍檢測狀態";
    Layout = "~/Views/Shared/_MindRadarLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>選擇隊伍檢測狀態</title>
    <link href="~/MindRadarCss/ChooseTeamStateStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="wave-background"></div>
    <div class="dots-background"></div>
    <div class="container">
        <div style="text-align:center;">
            <h1 class="page-title">選擇隊伍檢測狀態</h1>
        </div>
        <div class="card-container">
            <form action="@Url.Action("GetMentalStateTeamRawData", "TeamRawData")" method="post">
                <div class="state-card">
                    <div class="card-icon">
                        <img src="~/img/heart-attack.png" alt="心理狀態檢測" title="心理狀態檢測">
                    </div>
                    <h2 class="card-title">心理狀態檢測</h2>
                    <button type="submit" class="card-button">開始查看</button>
                </div>
            </form>

            <form action="@Url.Action("GetMentalPhysicalStateTeamRawData", "TeamRawData")" method="post">
                <div class="state-card">
                    <div class="card-icon">
                        <img src="~/img/medical-checkup.png" alt="身心狀態檢測" title="身心狀態檢測">
                    </div>
                    <h2 class="card-title">身心狀態檢測</h2>
                    <button type="submit" class="card-button">開始查看</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>